#grid {
    background-color: blue;
}

.cell {
    height: 70px;
    width: 70px;
    background-color: yellowgreen;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 50px;
}